uml/html/class-options.html
<div class='m-2' id='menuClass'>
<div class='input-group'>
<div class='input-group-prepend'>
<span class='input-group-text'>
<i class='fas fa-link'></i>
</span>
</div>
<input class='txt-prefix form-control form-control-sm' type='text'>
</div>
<div id='changeNameClass'>
<input class='txt-name form-control form-control-sm' type='text'>
</div>
<div class='my-1 attributes'>
<div class='attr-list mx-2'></div>
<button class='btn btn-sm btn-block btn-secondary btn-add' type='button'>
<i class='fas fa-plus'></i>
Attr.
</button>
</div>
<div class='my-1'>
<div class='method-list mx-2'></div>
<button class='btn btn-sm btn-block btn-secondary' id='btnAddMethodClass' name='addMethod' onclick='addMethod()' type='button' value='add method'>
<i class='fas fa-plus'></i>
Method
</button>
</div>
<div class='btn-group my-2 generals'>
<button class='btn btn-sm btn-success btn-done' type='button'>
<i class='fas fa-check'></i>
Done
</button>
<button class='btn btn-sm btn-danger btn-cancel' type='button'>
<i class='fas fa-times'></i>
Cancel
</button>
</div>
</div>

uml/html/class-options.haml
#menuClass.m-2
  .input-group
    .input-group-prepend
      %span.input-group-text
        %i.fas.fa-link
    %input.txt-prefix.form-control.form-control-sm(type="text")

  #changeNameClass
    %input.txt-name.form-control.form-control-sm(type="text")

  .my-1.attributes
    .attr-list.mx-2
    %button.btn.btn-sm.btn-block.btn-secondary.btn-add{type: "button"}

      %i.fas.fa-plus
      Attr.
  .my-1
    .method-list.mx-2
    %button.btn.btn-sm.btn-block.btn-secondary{onclick: "addMethod()",
                                               name: "addMethod",
                                               type: "button",
                                               value: "add method",
                                               id: "btnAddMethodClass"}
      %i.fas.fa-plus
      Method

  .btn-group.my-2.generals
    %button.btn.btn-sm.btn-success.btn-done{type: "button"}
      %i.fas.fa-check
      Done
    %button.btn.btn-sm.btn-danger.btn-cancel{type: "button"}
      %i.fas.fa-times
      Cancel
    
    
